/* Coolors Exported Palette - https://coolors.co/04151f-0e282b-183a37-848872-efd6ac-e5b381-da9056-c44900-84371a-432534 */

/* SCSS HEX */
$rich-black-fogra-29: #04151fff;
$dark-jungle-green: #0e282bff;
$rich-black: #183a37ff;
$artichoke: #848872ff;
$wheat: #efd6acff;
$middle-yellow-red: #e5b381ff;
$persian-orange: #da9056ff;
$mahogany: #c44900ff;
$kobe: #84371aff;
$dark-purple: #432534ff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(202, 77%, 7%, 1);
$dark-jungle-green: hsla(186, 51%, 11%, 1);
$rich-black: hsla(175, 41%, 16%, 1);
$artichoke: hsla(71, 9%, 49%, 1);
$wheat: hsla(38, 68%, 81%, 1);
$middle-yellow-red: hsla(30, 66%, 70%, 1);
$persian-orange: hsla(26, 64%, 60%, 1);
$mahogany: hsla(22, 100%, 38%, 1);
$kobe: hsla(16, 67%, 31%, 1);
$dark-purple: hsla(330, 29%, 20%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(4, 21, 31, 1);
$dark-jungle-green: rgba(14, 40, 43, 1);
$rich-black: rgba(24, 58, 55, 1);
$artichoke: rgba(132, 136, 114, 1);
$wheat: rgba(239, 214, 172, 1);
$middle-yellow-red: rgba(229, 179, 129, 1);
$persian-orange: rgba(218, 144, 86, 1);
$mahogany: rgba(196, 73, 0, 1);
$kobe: rgba(132, 55, 26, 1);
$dark-purple: rgba(67, 37, 52, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-right: linear-gradient(90deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-bottom: linear-gradient(180deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-left: linear-gradient(270deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-top-right: linear-gradient(45deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-bottom-right: linear-gradient(135deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-top-left: linear-gradient(225deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-bottom-left: linear-gradient(315deg, #04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);
$gradient-radial: radial-gradient(#04151fff, #0e282bff, #183a37ff, #848872ff, #efd6acff, #e5b381ff, #da9056ff, #c44900ff, #84371aff, #432534ff);