h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-h1);
  text-shadow: 0.1rem 0.1rem 0.8rem var(--main);
  padding: 2rem auto;
  margin: 2rem auto;
}

img {
  object-fit: cover;
}
.video {
  object-fit: cover;
}
code {
  text-align: left;
  border-width: 3px;
  border-color: var(--main);
  background-color: var(--code-bg);
  color: var(--code);
  padding: 0.1rem 0.1rem auto;
}

.scrollbar {
  overflow-y: scroll;
  /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Larger than mobile */
@media (min-width: 400px) {
  html {
    width: 100%;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  html {
    width: 100%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  html {
    width: 100%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  html {
    width: 100%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  html {
    width: 100%;
  }
}
